<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Hola</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1>HOLA</h1>
    </body>
</html>

